/* Big box with list of options */
#ajax_listOfOptions {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  position: absolute; /* Never change this one */
  width: 90%; /* Width of box */
  height: 100%; /* Height of box */
  overflow: auto; /* Scrolling features */
  border: 1px solid #e3e3e3; /* Dark green border */
  background-color: #fff; /* White background color */
  text-align: left;
  font-size: 12px;
  z-index: 100;
}
#ajax_listOfOptions div {
  /* General rule for both .optionDiv and .optionDivSelected */
  margin: 1px;
  padding: 1px;
  cursor: pointer;
}
#ajax_listOfOptions .optionDivSelected {
  /* Selected item in the list */
  background-color: #50adea;
  color: #fff;
  font-size: 14px;
}
#ajax_listOfOptions_iframe {
  background-color: #f00;
  position: absolute;
  z-index: 5;
}
form {
  display: inline;
}
