table.tabla2
{ 
    color: #404040;
    background-color: #FFFFFF;
    border: 1px #CDCDCD solid;
    border-collapse: collapse;
    border-spacing: 0px;}

.LETRA{
    font-family:Tahoma;
    font-size:11px;
    line-height:normal;
    color:'#5f5e5e';
    font-weight: bold;
}
input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-position: 3px 3px; 
    background-repeat: no-repeat;
    padding: 2px 1px 2px 5px;

}
.LETRA2{
    background:#d7d7d7
}
.inpu{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 9px;
    background-color: white;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding: 2px 1px 2px 5px;

}   
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}