.tabla1
{ 
	position:relative;
	width:99%;
	height:675px;
	overflow:hidden;
	right: 8px;
        left: 8px;
	top: 1px;
	border:1px solid #CDCDCD;
	background-image: url(../../../images/desktop.jpg);
}
.LETRA{
    font-family:Tahoma;
    font-size:11px;
    line-height:normal;
    color:'#5f5e5e';
    font-weight: bold;
}
input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-position: 3px 3px; 
    background-repeat: no-repeat;
    padding: 2px 1px 2px 5px;

}
.LETRA2{
    background:#d7d7d7
}

table.tabla2
{ 
color: #404040;
background-color: #FFFFFF;
border: 1px #CDCDCD solid;
border-collapse: collapse;
border-spacing: 0px;}
.title{
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	left: 100px;
	top: 20px;
	border:1px solid #CDCDCD;
	background:#50ADEA;
}
.title1{
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	left: 4px;
	top: 4px;
	border:1px solid #CDCDCD;
	background:#50ADEA;
}
.mask11{
	position:relative;
	width:100%;
	height:384px;
	overflow:hidden;
	left: 100px;
	top: 21px;
	border:1px solid #CDCDCD;
	background:#F9F9F9;
}
.mask22{
	position:relative;
	width:100%;
	height:376px;
	overflow:hidden;
	left: 2px;
	top: 4px;
	border:1px solid #ccc;

}
.mask33{
	position:relative;
	width:100%;
	height:370px;
	overflow:hidden;
	left: 2px;
	top: 4px;
	background:#F9F9F9;
}
.mask1111{
	position:relative;
	width:100%;
	height:620px;
	overflow:hidden;
	left: 4px;
	top: 4px;
	border:1px solid #CDCDCD;
	background:#F9F9F9;
}
.mask2222{
	position:relative;
	width:100%;
	height:612px;
	overflow:hidden;
	left: 2px;
	top: 4px;
	border:1px solid #ccc;

}
.mask3333{
	position:relative;
	width:100%;
	height:608px;
	overflow:hidden;
	left: 2px;
	top: 4px;
	background:#F9F9F9;
}
.botones{
	position:relative;
	width:97%;
	height:auto;
	padding:3px;
	overflow:hidden;
	top: 2px;
	left: 10px;
	border:1px solid #ccc;
	background:#FFFFFF;
}
.celda2{
	border-right: 1px solid #e5eff8;
	border-bottom: 1px solid #e5eff8;
	border-top: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
}